{% extends "base_user.html" %}
{% load static %}
{% block body %}
    
    <link rel="stylesheet" href="{% static "styles/about.css" %}">
    <section class="aboutsection">
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Daniel Pereira</p>
            <p>Estudante de Engenharia de Computação na FACENS</p>
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Esdras
            </p>
            <p>Estudante de Engenharia de Computação na FACENS</p>
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Giuliano
            </p>
            <p>Estudante de Engenharia de Computação na FACENS</p>
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Tamiê 
            </p>
            <p>Estudante de Engenharia de Computação na FACENS</p>
        </div>
    </section>
{% endblock %}