{% extends "base_user.html" %}
{% load static %}
{% block body %}
    
    <link rel="stylesheet" href="{% static "styles/about.css" %}">
    <section class="aboutsection">
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Daniel Pereira</p>
            <p>Estudante de Engenharia da Computação, um dos idealizadores da ideia de criação do site, experiência no front-end.</p>            
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Esdras
            </p>
            <p>Estudante de Engenharia da Computação, um do contribuidores da criação do site, ajuda no desenvolvimento e front-end.</p>
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Giuliano
            </p>
            <p>Estudante de Engenharia da Computação, um dos idealizadores da ideia de criação do site, experiência na área de desenvolvimento.</p>
        </div>
        <div class="member">
            <img src="../static/img/img.jpg" alt="">
            <p class="name">Tamiê 
            </p>
            <p>Estudante de Engenharia da Computação, uma das idealizadoras da ideia de criação do site, ajuda no desenvolvimento e front-end.</p>
        </div>
    </section>
{% endblock %}