{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>TradEasy</title>
	<script src="{% static "scripts/bootstrap-min.js" %}"></script>
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <script src="{% static "scripts/jquery-1.9.1.js" %}"></script>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "styles/megamenu.css" %}">
    <script src="{% static "scripts/megamenu.js" %}"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
	<script src="{% static "scripts/menu_jquery.js" %}"></script>
	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script>

	
</head>
<body>
<!-- header_top -->
<div class="top_bg">
		<div class="container">
			<div class="header_top">
				<div class="top_right">
					<ul>
						<li>
							<a href="{% url 'template_home' %}">Home</a>
						</li>|
						<li>
							<a href="{% url 'template_about' %}">About Us</a>
						</li>|
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
</div>
<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
			<a href="{% url 'template_home' %}"><img src="../static/img/tradeasylogo.png" class="img-responsive" alt=""/> </a>
		</div>
		<!-- start header_right -->
		<div class="header_right">
			<div class="rgt-bottom">
				<div class="log">
					<div class="login" >
						<div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
						    <div id="loginBox">
						        <form action="/postsign/" method="POST" id="loginForm">
									{% csrf_token %}
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="email">Email Address</label>
						                          <input type="text" name="email" id="email">
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">Password</label>
						                            <input type="password" name="password" id="password">
						                     </fieldset>
						                    <input type="submit" id="login" value="Sign in">
						            	</fieldset>
									<span><a href="#">Forgot your password?</a></span>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="reg">
					<a href="{% url 'template_register' %}">REGISTER</a>
				</div>
			<div class="clearfix"> </div>
		</div>
		<div class="search">
		    <form>
		    	<input type="text" value="" placeholder="search...">
				<input type="submit" value="">
			</form>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
		<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="{% url 'template_home' %}">Home</a></li>
			<li class="grid"><a class="color2" href="#">Cloths</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Top</h4>
								<ul>
									<li><a href="">Hat</a></li>
									<li><a href="">Cap</a></li>
									<li><a href="">Beret</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Body</h4>
								<ul>
									<li><a href="">T-Shirt</a></li>
									<li><a href="">Shirts</a></li>
									<li><a href="">Coat</a></li>
									<li><a href="">Jacket</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Pants</h4>
								<ul>
									<li><a href="">Jeans</a></li>
									<li><a href="">Pants</a></li>
									<li><a href="">Shorts</a></li>
									<li><a href="">Skirt</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Shoes</h4>
								<ul>
									<li><a href="">Boots</a></li>
									<li><a href="">Shoes</a></li>
									<li><a href="">Sandals</a></li>
									<li><a href="">Gloves</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="">Belts</a></li>
									<li><a href="">Eyeglasses</a></li>
									<li><a href="">Earrings & Rings</a></li>
									<li><a href="">Watches</a></li>
									<li><a href="">Jewellery</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
    				</div>
				</li>
			<li><a class="color3" href="#">Books</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Thriller</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Biograpy</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Comics</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Fantasy</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Science</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Romance</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Author</a></li>
									<li><a href="">Sort By Country</a></li>
									<li><a href="">Sort By Publisher</a></li>
									<li><a href="">Sort By Pages</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
    				</div>
			</li>
			<li><a class="color5" href="#">Cards</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Magic - The Gathering</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Collection</a></li>
									<li><a href="">Sort By Edition</a></li>
									<li><a href="">Sort By Color</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>YuGi-Oh</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Collection</a></li>
									<li><a href="">Sort By Edition</a></li>
									<li><a href="">Sort By Color</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Pokemon</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Collection</a></li>
									<li><a href="">Sort By Edition</a></li>
									<li><a href="">Sort By Color</a></li>
								</ul>
							</div>
						</div>						
					</div>
					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
    				</div>
			</li>
				<li><a class="color6" href="#">Games</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>PS4</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Release Date</a></li>
									<li><a href="">Sort By Mode</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Xbox-One</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Release Date</a></li>
									<li><a href="">Sort By Mode</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Nintendo Wii U</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Release Date</a></li>
									<li><a href="">Sort By Mode</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Nintendo Switch</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Release Date</a></li>
									<li><a href="">Sort By Mode</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Collections</h4>
								<ul>
									<li><a href="">Sort By Name</a></li>
									<li><a href="">Sort By Release Date</a></li>
									<li><a href="">Sort By Mode</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col2"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
						<div class="col1"></div>
					</div>
    				</div>
				</li>

		 </ul>
	</div>
</div>
</div>
    <div class="container">
		<div class="row content">
				{% block body %}

				{% endblock %}
		</div>
       
    </div>

<div class="foot-top">
	<div class="container">
		<div class="col-md-6 s-c">
			<li>
				<div class="fooll">
					<h5>follow us on</h5>
				</div>
			</li>
			<li>
				<div class="social-ic">
					<ul>	
						<li><a href="#"><img src="../static/img/facebook.png" class="facebok"> </i></a></li>
						<li><a href="https://twitter.com/easy_trad"><img src="../static/img/Twitter_logo.png" class="twiter"> </i></a></li>
						<li><a href="#"><img src="../static/img/google_plus.png" class="goog"> </i></a></li>
						<li><a href="#"><img src="../static/img/pinterest.jpg" class="pp"> </i></a></li>
							<div class="clearfix"></div>
					</ul>
				</div>
			</li>
				<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 s-c">
			<div class="stay">
						<div class="stay-left">
							<form>
								<input type="text" placeholder="Enter your email to join our newsletter" required="">
							</form>
						</div>
						<div class="btn-1">
							<form>
								<input type="submit" value="join">
							</form>
						</div>
							<div class="clearfix"> </div>
			</div>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">How To Trade</a></li>
				<li><a href="#">Delivery</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>ABOUT US</h4>
				<li><a href="{% url 'template_story' %}">Our Stories</a></li>
				<li><a href="{% url 'template_about' %}">Career</a></li>
				<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>MY ACCOUNT</h4>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Transactions</a></li>
				<li><a href="#">Messages</a></li>
		</div>
		<div class="clearfix"> </div>
			<p>Copyrights © 2018 TradEasy.
	</div>
</div>

</body>

</html>

