{% extends "base_user.html" %}

{% block body %}
    
<div class="container">
    <br>
    <p><b>FAQ</b></p>
    <br>
    <p><strong>Onde vejo o endereço do participante para envio de uma negociação de troca?</strong></p>
    <p>O endereço dos usuários só irá aparecer quando uma troca for aceita. O endereço é disponibilizado nos detalhes da troca que está em andamento.</p>
    <br>
    <p><strong>Qual o tempo de qualificação automática?</strong></p> 
    <p>O site qualifica de forma automática as trocas não qualificadas após 60 dias corridos da data do aceite da solicitação de troca.</p>
    <br>
    <p><strong>Quanto tempo demora para eu acessar o conteúdo do site?</strong></p>
    <p>Assim que realizar o cadastro no site poderá ter acesso a todas as trocas disponíveis no site. </p>
    <br>
    <p><strong>Recebi uma qualificação negativa, e não concordo, o que devo fazer?</strong></p>
    <p>Uma qualificação só pode ser modificada pelo usuário que lhe atribuiu a qualificação. 
        A sugestão neste caso é entrar em contato com o usuário em questão e tentar um acordo para que a negativa seja retirada.
        As qualificações são apenas um termômetro que indica se a pessoa é confiável ou não. Então um usuário que possui muitas 
        positivas e poucas negativas é considerado um usuário confiável. Nem sempre é possível realizar trocas com sucesso. Uma 
        vez ou outra vão ocorrer problemas mesmo.</p>
    <br>
    <p><strong>Posso trocar itens de uma categoria por outra categoria?</strong></p>
    <p>Sim, pode haver a troca desde que o outro usuário também esteja interessado.</p>
    <br>


</div>
    
            <style>
            b{
                font-size: 28px;
            }
            p{
                font-size: 20px;
            }
            </style>
{% endblock %}