{% extends "base_user.html" %}
{% load staticfiles %}
{% block body %}
    
<link rel="stylesheet" href="{% static "styles/story.css" %}">
            <p>
                A TradEasy foi fundada em 2018 na cidade de Sorocaba, interior de São Paulo, dentro da sala de aula durante um 
                trabalho da matéria de Desenvolvimento web.
            </p>
            <p>
                Atualmente a empresa conta com quatro funcionario e co-fundadores da empresa.
                A TradEasy é uma empresa voltada para a troca de mercadorias desde roupas e calçados, até figurinha da Copa e Animes.
            </p> 
            <p>
                São mais de 100 trocas efetuadas fazendo a felicidade de nosos clientes sem gastar um tostão, e 200 objetos cadastrados todos os dias.
                Navegue pelo site, use o campo busca e aproveite.
            </p>
{% endblock %}