{% extends "base_user.html" %}
{% load staticfiles %}
{% block body %}
    
<link rel="stylesheet" href="{% static "styles/story.css" %}">
<div class="container">
    <br>
    <p>
        A TradEasy foi fundada em 2018, na cidade de Sorocaba, interior de São Paulo, partindo de uma ideia dentro da sala de 
        aula, como um projeto da matéria de Desenvolvimento Web.
    </p>
    <br>
    <p>
        A TradEasy é uma empresa voltada para a troca de mercadorias, abrangendo desde vestimentas em geral, como roupas e calçados, 
        até figurinha da Copa, Card Games e Jogos de Console.
    </p> 
    <br>
    <p>
        Atualmente a empresa conta com quatro funcionários e co-fundadores da empresa, os quais estão ativamente em busca de expansão.
    </p>
    <br>
    <p>
        São mais de 100 trocas efetuadas, fazendo a felicidade de nossos clientes sem gastar um tostão, e 200 objetos cadastrados todos os dias.
        Navegue pelo site, use o campo busca e aproveite.        
    </p>
    <br>

</div>
    
            <style>
            p{
                font-size: 22px;
            }
            </style>
{% endblock %}